.audio{
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0.7;
}
.audio:hover{
    opacity: 1;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-image: linear-gradient(to bottom right, rgb(253, 1, 220),rgb(145, 205, 16));
    color: ghostwhite;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.topmenu{
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    opacity: .7;
}
.Title{
    font-family: 'Macondo', cursive;
    margin-top: 60px;
    font-size: 80px;
    margin-bottom: 150px;
    
}
.nexttitle{
    font-family: 'Macondo', cursive;
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 25px;
    margin-top: 101px;
    margin-bottom: 140px;
}
#line1{
    padding-left: 300px;
}
#mywork{
    margin-top: 60px;
    margin-bottom: 60px;
}
.direction{
    font-family: 'Macondo', cursive;
    position: absolute;
    top: 18%;
    right: 3%;
    text-align: left;
    margin-top: 65px;
    font-size: 20px;
    padding-left: 400px;
    padding-right: 20px;
}
.myword{
    text-align: left;
    font-size: 45px;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 400px;
}

